In [1]:
pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [2]:
# Import findspark and initialize.
import findspark
findspark.init()

In [3]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [4]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [5]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_sales')

In [21]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
spark.sql("""
          SELECT
            YEAR(date) AS Year_Sold,
            CONCAT('$', FORMAT_NUMBER(ROUND(AVG(price), 2), 2)) AS 4_Bedroom_Avg_Price
          FROM home_sales
          WHERE bedrooms = 4
          GROUP BY YEAR(date)
          ORDER BY YEAR(date) ASC
          """).show()

+---------+-------------------+
|Year_Sold|4_Bedroom_Avg_Price|
+---------+-------------------+
|     2019|        $300,263.70|
|     2020|        $298,353.78|
|     2021|        $301,819.44|
|     2022|        $296,363.88|
+---------+-------------------+

In [19]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
spark.sql("""
          SELECT
            YEAR(date_built) AS Year_Built,
            CONCAT('$', FORMAT_NUMBER(ROUND(AVG(price), 2), 2)) AS 3_Bed_3_Bath_Avg_Price
          FROM home_sales
          WHERE bedrooms = 3 AND bathrooms = 3
          GROUP BY YEAR(date_built)
          ORDER BY YEAR(date_built) ASC
          """).show()

+----------+----------------------+
|Year_Built|3_Bed_3_Bath_Avg_Price|
+----------+----------------------+
|      2010|           $292,859.62|
|      2011|           $291,117.47|
|      2012|           $293,683.19|
|      2013|           $295,962.27|
|      2014|           $290,852.27|
|      2015|           $288,770.30|
|      2016|           $290,555.07|
|      2017|           $292,676.79|
+----------+----------------------+

In [20]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
spark.sql("""
          SELECT
            YEAR(date_built) AS Year_Built,
            CONCAT('$', FORMAT_NUMBER(ROUND(AVG(price), 2), 2)) AS Dream_Home_Avg_Price
          FROM home_sales
          WHERE bedrooms = 3
          AND bathrooms = 3
          AND floors = 2
          AND sqft_living >= 2000
          GROUP BY YEAR(date_built)
          ORDER BY YEAR(date_built) ASC
          """).show()

+----------+--------------------+
|Year_Built|Dream_Home_Avg_Price|
+----------+--------------------+
|      2010|         $285,010.22|
|      2011|         $276,553.81|
|      2012|         $307,539.97|
|      2013|         $303,676.79|
|      2014|         $298,264.72|
|      2015|         $297,609.97|
|      2016|         $293,965.10|
|      2017|         $280,317.58|
+----------+--------------------+

In [9]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

spark.sql("""
          SELECT
            view,
            CONCAT('$', FORMAT_NUMBER(ROUND(AVG(price), 2), 2)) AS Avg_Price
          FROM home_sales
          GROUP BY view
          HAVING AVG(price) >= 350000
          ORDER BY view DESC
          """).show()


print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|    Avg_Price|
+----+-------------+
|  99|$1,061,201.42|
|  98|$1,053,739.33|
|  97|$1,129,040.15|
|  96|$1,017,815.92|
|  95|$1,054,325.60|
|  94|$1,033,536.20|
|  93|$1,026,006.06|
|  92|  $970,402.55|
|  91|$1,137,372.73|
|  90|$1,062,654.16|
|  89|$1,107,839.15|
|  88|$1,031,719.35|
|  87|$1,072,285.20|
|  86|$1,070,444.25|
|  85|$1,056,336.74|
|  84|$1,117,233.13|
|  83|$1,033,965.93|
|  82|$1,063,498.00|
|  81|$1,053,472.79|
|  80|  $991,767.38|
+----+-------------+
only showing top 20 rows

--- 2.4568958282470703 seconds ---

In [10]:
# 7. Cache the the temporary table home_sales.
spark.catalog.cacheTable("home_sales")

In [11]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [12]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()

spark.sql("""
          SELECT
            view,
            CONCAT('$', FORMAT_NUMBER(ROUND(AVG(price), 2), 2)) AS Avg_Price
          FROM home_sales
          GROUP BY view
          HAVING AVG(price) >= 350000
          ORDER BY view DESC
          """).show()


print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|    Avg_Price|
+----+-------------+
|  99|$1,061,201.42|
|  98|$1,053,739.33|
|  97|$1,129,040.15|
|  96|$1,017,815.92|
|  95|$1,054,325.60|
|  94|$1,033,536.20|
|  93|$1,026,006.06|
|  92|  $970,402.55|
|  91|$1,137,372.73|
|  90|$1,062,654.16|
|  89|$1,107,839.15|
|  88|$1,031,719.35|
|  87|$1,072,285.20|
|  86|$1,070,444.25|
|  85|$1,056,336.74|
|  84|$1,117,233.13|
|  83|$1,033,965.93|
|  82|$1,063,498.00|
|  81|$1,053,472.79|
|  80|  $991,767.38|
+----+-------------+
only showing top 20 rows

--- 2.8856077194213867 seconds ---

In [13]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy("date_built").mode("overwrite").parquet("home_sales_partitioned")

In [14]:
# 11. Read the formatted parquet data.
p_df_p=spark.read.parquet('home_sales_partitioned')

In [15]:
# 12. Create a temporary table for the parquet data.
p_df_p.createOrReplaceTempView('p_home_sales_p')

In [16]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()

spark.sql("""
          SELECT
            view,
            CONCAT('$', FORMAT_NUMBER(ROUND(AVG(price), 2), 2)) AS Avg_Price
          FROM p_home_sales_p
          GROUP BY view
          HAVING AVG(price) >= 350000
          ORDER BY view DESC
          """).show()


print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|    Avg_Price|
+----+-------------+
|  99|$1,061,201.42|
|  98|$1,053,739.33|
|  97|$1,129,040.15|
|  96|$1,017,815.92|
|  95|$1,054,325.60|
|  94|$1,033,536.20|
|  93|$1,026,006.06|
|  92|  $970,402.55|
|  91|$1,137,372.73|
|  90|$1,062,654.16|
|  89|$1,107,839.15|
|  88|$1,031,719.35|
|  87|$1,072,285.20|
|  86|$1,070,444.25|
|  85|$1,056,336.74|
|  84|$1,117,233.13|
|  83|$1,033,965.93|
|  82|$1,063,498.00|
|  81|$1,053,472.79|
|  80|  $991,767.38|
+----+-------------+
only showing top 20 rows

--- 1.0941276550292969 seconds ---

In [17]:
# 14. Uncache the home_sales temporary table.
spark.catalog.uncacheTable("home_sales")

In [18]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached('home_sales')

False